.writer-add-form-container{
  margin-left: 30px;
}

.writer-add-form-container .page-header{
  margin-top: 0px !important;
}

.writer-add-form-container .page-header h3{
  margin-top: 0px !important;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.alert{
  margin-top: 15px;
}
