.writer-add-form-container{
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.alert{
  margin-top: 15px;
}
