<div class="container-fluid main-container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a>
          {{title}}
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/writers']" routerLinkActive="active">Writers</a>
          </li>
        </ul>


      </div>
    </div>
  </nav>
  <router-outlet class=""></router-outlet>
</div>
