.writers-container{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
  float:left;
}

.writers-container ul{
  list-style: none;
  padding: 0px;
}

.writers-container ul li{
  margin-bottom: 40px;
}

.writer-content-info{
}

.about{
  font-style: italic;
}
.books{
  color: #1c94c4;
}

.books span{
  color: black !important;
}

.writer-add-form-container{
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}
.writer-info-container{
  width: 500px;
  float:left;
}


