<div class="writers-container">
  <h1>Writers <small>Our most famous Writers:</small></h1>
  <ul>
    <li *ngFor="let writer of writers" >
      <div class="writer-content">
        <h3 (click)="onSelect(writer)">{{writer.name}}</h3>
        <div class="writer-content-info">
          <p class="books">Registered books: <span>{{writer.total_books}}</span></p>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="selectedWriter" class="writer-info-container">
    <h3>{{selectedWriter.name | uppercase}}</h3>
    <p>
      {{selectedWriter.short_desc}}
    </p>
    <button (click)="gotoDetail()" class="btn btn-default">Read More</button>
    <button (click)="gotoBooks()" class="btn btn-default">See Books</button>
  </div>
</div>
  <nav aria-label="Page navigation" class="writer-navigation">
    <ul class="pagination">
      <li>
        <a *ngIf="previous" aria-label="Previous" (click)="gotoPage(previousPage)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of pages;"><a (click)="gotoPage(page-1)">{{page}}</a></li>
      <li>
        <a *ngIf="next" aria-label="Next" (click)="gotoPage(nextPage)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<writer-form [writers]="writers"></writer-form>
