<div class="writers-container col-md-12">
  <h1>Writers <small>Our most famous Writers:</small></h1>
  <ul class="row col-md-6">
    <li *ngFor="let writer of writers" class="col-md-12">
      <div class="panel panel-default writer-panel">
        <div class="panel-heading col-md-12">
          <div class="col-md-6"><h3>{{writer.name}}</h3></div>
          <div class="writer-remove-option col-md-6">
            <button type="button" class="btn btn-danger" aria-label="Remove Writer">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <p>
            {{writer.short_desc}}
          </p>
          <p class="books">Registered books: <span>{{writer.total_books}}</span></p>
          <div class="writer-panel-buttons">
            <button (click)="gotoDetail(writer._id)" class="btn btn-default">Read More</button>
            <button (click)="gotoBooks(writer._id)" class="btn btn-default">See Books</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <writer-form [writers]="writers"></writer-form>
</div>
  <nav aria-label="Page navigation" class="writer-navigation">
    <ul class="pagination">
      <li>
        <a *ngIf="previous" aria-label="Previous" (click)="gotoPage(previousPage)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of pages;"><a (click)="gotoPage(page-1)">{{page}}</a></li>
      <li>
        <a *ngIf="next" aria-label="Next" (click)="gotoPage(nextPage)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
