.writers-container{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
  float:left;
  width: 100%;
}

.writers-container.page-header {
    margin: 0px !important;
}

.writers-container ul{
  list-style: none;
  padding: 0px;
  float: left;
}

.writers-container ul li{
  margin-bottom: 40px;
}

.writer-content h3{
  cursor: pointer;
}
.writer-content-info{
}

.about{
  font-style: italic;
}
.books{
  color: #1c94c4;
}

.books span{
  color: black !important;
}
.writer-info-container{
  float:left;
}

.writer-navigation{
  float:left;
  width: 100%;
}

.writer-navigation a{
  cursor: pointer;
}

.writer-panel{
  float:left;
  width:100%;
}

.writer-panel-buttons{
  float:right;
}
