<div class="writers-container">
  <p>
    Our most famous Writers:
  </p>
  <ul>
    <li *ngFor="let writer of writers" (click)="onSelect(writer)">
      <div class="writer-content">
        <h2>{{writer.name}}</h2>
        <div class="writer-content-info">
          <p class="books">Registered books: <span>{{writer.total_books}}</span></p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="writer-add-form-container">
  <h3>Add Writer</h3>
  <p>Didn't you find the Writer you were looking for? Just add it!</p>
  <form>
    <div>
      <label>Name of the Writer: </label>
      <input type="text" [(ngModel)]="currentWriter.name" name="name"  required>
    </div>
    <input type="submit" value="Add" (click)="addWriter()">
  </form>
</div>
<div *ngIf="selectedWriter" class="writer-info-container">
  <h3>{{selectedWriter.name | uppercase}}</h3>
  <p>
    {{selectedWriter.short_desc}}
  </p>
  <button (click)="gotoDetail()">Read More</button>
  <button (click)="gotoBooks()">See Books</button>
</div>

